*
{
    box-sizing: border-box;
    margin: 0%;
}

img
{
    margin: 0px;
    width: 50vw;
   padding-left: 70px;
   align-items: center;
   
    position: static;
    background-position: center;

}
html

{
    background-color: rgb(0, 0, 0);
}
